<nav>
    <div class="row">
        <ul class="main-nav">
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">WebDev</a></li>
            <li><a href="">Opmen Consultoria</a></li>
            <li><a href="/uploadGet">File Upload</a></li>
        </ul>
        <ul class="main-nav-login">
            <li><a href="">Log in</a></li>
        </ul>
    </div>
    <div class="name-text-box">
        <h1><span class="name-capital">L</span>uiz    <span class="name-capital">E</span>duardo   <span class="name-capital">B</span>atista</h1>
    </div>
</nav>