<form action="/uploadPost" method="post" enctype="multipart/form-data">
    <div class="row">
        <ul>
            <li>
                <div>
                    <label for="browse">Browse File :</label>
                    <input type="file" name="file" id="file">
                </div>
                <div>
                    <button type="submit">Submit</button>
                </div>
            </li>
        </ul>
    </div>
</form>