/* ----- BASIC SETUP ----- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    background-color:#fff;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ----- REUSABLE COMPONENTS ----- */
.row {
    max-width: 1140px;
    margin: 0 auto;
}

/* ----- HEADER ----- */
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.30),rgba(0,0,0,0.3)), url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}
.main-nav, .main-nav-login {
    list-style: none;
    margin-top: 50px;
}
.main-nav {
    float: left;
}
.main-nav-login {
    float: right;
}
.main-nav li, .main-nav-login li{
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a, .main-nav-login li a{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
}
.name-text-box {
    position: absolute;
    width: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Verdana;
    font-size: 2rem;
    color: #4F4F4F;
    word-spacing: 0.5rem;
    letter-spacing: 0.2rem;
    white-space: pre;
}
.name-capital{
    font-family: 'Trebuchet MS';
    font-weight: normal;
    color: #003600;
    font-size: 8rem
}

/* ----- LOGIN PAGE ----- */
body {
    background: green;
}
.login-page {
    width: 360px;
    padding: 8% 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: white;
    margin: 0, auto;
    text-align: center;
    padding: 45px;
}
.form input {
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
    background: #EFECEC;
    font-size: 100%;
    border: none;
}
.form .button {
    background: #4CAF50;
    text-transform: uppercase;
    padding: 15px;
    color: white;
}
.toggle {
    display: none;
}
.form .register-form {
    display: none;
}
.form .message {
    font-size: 90%;
    color: #CFCFCF;
    margin-top: 15px;
}
.form .message a {
    font-size: 90%;
    color: #4CAF50;
    text-decoration: none;
}

